# Python cache
**/__pycache__/
**/*.egg-info

# Debug directories
**/debug/*

# Local testing tools
bin/
.cache/
.actrc
.github/act-secrets.env

# Build artifacts
dist/

# Ignition specific content
.resources/
